/** Main CSS file */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  margin: 0 0 20px 0;
  padding: 0;
}

h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 0;
}
